### <Java ignored files>

# IntelliJ config
/java/**/.idea/

# Build folder
/java/**/target/

### </Java ignored files>

### <Python ignored files>

# PyCharm config
/python/**/.idea/
/python/**/__pycache__/

### </Python ignored files>